.footer-container{
    width:100%;
    height:377px;
   
  
}
.footer-body{
    width:85%;
    height:377px;
    background-color:#dde6ea ;
    margin:1px auto;
}
.footer-text{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.footer-text1 span{
    margin: 5px 20px 5px 0px;
font-weight: 600;
font-size:14px;
}
.footer-newsemail{
    border:1px solid red;
    padding: 5px 150px 5px 10px;
    background-color: #E1722A ;
    color:white;
}
.footer-newsend{
    border: 1px solid #F73E2D;
    padding: 5px 20px 6px 10px;
    color: dimgray;
   background-color: #F4F6F7;
}
.footer-socioicon{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    width: 85%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.socioicon{
    border: 1px solid #e26767;
    margin: 2px;
    padding: 10px 8px;
}